parameters:
    level: 5
    paths:
        - src
        - tests
    bootstrapFiles:
        - phpstan-autoload.php
    ignoreErrors:
        -
            message: '#^Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition\:\:children\(\)\.$#'
            count: 1
            path: src/DependencyInjection/Configuration.php
